In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pathlib import Path
import json
import random

# Import API key
from api_keys import owm

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [45]:
# Generate a random integer within the ranges
# lat = x long = y
def rand_lat():
    lat = random.randint(lat_range[0], lat_range[1])
    return lat

def rand_lng():
    lng = random.randint(lng_range[0], lng_range[1])
    return lng

In [71]:
# Define a function to generate a city from the random coordinates, in the format of a list with country code, lat and lng
def rand_city():
    x = rand_lat()
    y = rand_lng()
    city_code = citipy.nearest_city(x, y)
    city = city_code.city_name
    country = city_code.country_code
    output = [city, country, x, y]
    return output

In [72]:
rand_city()

['isafjordur', 'is', 70, -30]

In [91]:
# Creating an empty dictionary to build the dataframe with
dict = {
    'City': [],
    'Country': [],
    'Latitude': [],
    'Longitude': []
}
# For loop to fill the dictionary with 500 cities
rows = 500
for i in range(rows):
    city_list = rand_city()
    if city_list[0] in dict['City']:
        
        continue
    dict['City'].append(city_list[0])
    dict['Country'].append(city_list[1])
    dict['Latitude'].append(city_list[2])
    dict['Longitude'].append(city_list[3])
# Turning the dictionary into a dataframe
city_df = pd.DataFrame(dict)
city_df.head()

                     City Country  Latitude  Longitude
0                qui nhon      vn        14        109
1               kavaratti      in        11         64
2              isafjordur      is        65        -26
3  happy valley-goose bay      ca        55        -57
4                   mejit      mh        12        178

In [95]:
# Creating an empty dictionary to build the dataframe with
dict = {
    'City': [],
    'Country': [],
    'Latitude': [],
    'Longitude': []
}
# While loop to fill the dictionary with 500 cities
rows = 0
while rows < 500:
    city_list = rand_city()
    if city_list[0] in dict['City']:
        continue
    dict['City'].append(city_list[0])
    dict['Country'].append(city_list[1])
    dict['Latitude'].append(city_list[2])
    dict['Longitude'].append(city_list[3])
    rows += 1
# Turning the dictionary into a dataframe
city_df = pd.DataFrame(dict)
city_df.head()

                 City Country  Latitude  Longitude
0       fuerte olimpo      py       -21        -58
1                lamu      ke        -5         45
2  san pedro pochutla      mx        10        -97
3        longyearbyen      sj        90          3
4   port-aux-francais      tf       -84         76

In [96]:
city_df.to_csv('output_data/WeatherAPI_Cities.csv', index=False, mode='w')