In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pathlib import Path
import json
import random

# Import API key
from api_keys import owm

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [45]:
# Generate a random integer within the ranges
# lat = x long = y
def rand_lat():
    lat = random.randint(lat_range[0], lat_range[1])
    return lat

def rand_lng():
    lng = random.randint(lng_range[0], lng_range[1])
    return lng

In [71]:
# Define a function to generate a city from the random coordinates, in the format of a list with country code, lat and lng
def rand_city():
    x = rand_lat()
    y = rand_lng()
    city_code = citipy.nearest_city(x, y)
    city = city_code.city_name
    country = city_code.country_code
    output = [city, country, x, y]
    return output

In [72]:
rand_city()

['isafjordur', 'is', 70, -30]

In [76]:
# Creating an empty dictionary to build the dataframe with
dict = {
    'City': [],
    'Country': [],
    'Latitude': [],
    'Longitude': []
}
# For loop to fill the dictionary with 500 cities
rows = 500
for i in range(rows):
    city_list = rand_city()
    dict['City'].append(city_list[0])
    dict['Country'].append(city_list[1])
    dict['Latitude'].append(city_list[2])
    dict['Longitude'].append(city_list[3])
# Turning the dictionary into a dataframe
city_df = pd.DataFrame(dict)
city_df.head()

             City Country  Latitude  Longitude
0        oxapampa      pe       -10        -75
1       boundiali      ci        10         -7
2  puerto natales      cl       -63        -85
3      olyokminsk      ru        60        121
4  margaret river      au       -42        101

In [77]:
city_df.head(50)

                           City Country  Latitude  Longitude
0                      oxapampa      pe       -10        -75
1                     boundiali      ci        10         -7
2                puerto natales      cl       -63        -85
3                    olyokminsk      ru        60        121
4                margaret river      au       -42        101
5                      waitangi      nz       -44       -164
6                      kingston      nf       -32        165
7                        lompoc      us        24       -133
8                      ust-nera      ru        70        146
9   edinburgh of the seven seas      sh       -77          5
10                    carnarvon      za       -31         23
11                 longyearbyen      sj        90          9
12             minas de marcona      pe       -23        -80
13  edinburgh of the seven seas      sh       -61         -1
14                    kununurra      au       -18        126
15            sosnovo-ozerskoye      ru        52        111
16                   tsawwassen      ca        49       -123
17                    colesberg      za       -31         25
18            port-aux-francais      tf       -81         80
19                     waitangi      nz       -70       -161
20                  olonkinbyen      sj        85         -7
21                       albany      au       -76        113
22                      ushuaia      ar       -81        -74
23                blackmans bay      au       -72        146
24                       nyurba      ru        63        119
25                 invercargill      nz       -61        166
26                      college      us        74       -148
27                       buinsk      ru        55         48
28                    bossangoa      cf         6         17
29                    ilulissat      gl        87        -53
30                       tutoia      br         1        -42
31                       nurota      uz        41         66
32                         kone      nc       -26        161
33                blackmans bay      au       -58        155
34                       badger      us        77       -138
35                        tiksi      ru        77        127
36                    jamestown      sh       -21         -9
37                    vorgashor      ru        68         64
38                   louisville      us        33        -89
39             praia da vitoria      pt        45        -28
40                     waitangi      nz       -48       -169
41                  ust'-ilimsk      ru        62        104
42                        korla      cn        38         86
43                blackmans bay      au       -80        152
44       ciudad lazaro cardenas      mx         2       -111
45                     enewetak      mh        31        165
46                  olonkinbyen      sj        70        -10
47                        horta      pt        44        -29
48                 invercargill      nz       -70        157
49                prince rupert      ca        46       -137