In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pathlib import Path
import json
import random

# Import API key
from api_keys import owm

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

Bad key text.latex.preview in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 123 ('text.latex.preview : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key mathtext.fallback_to_cm in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 155 ('mathtext.fallback_to_cm : True  # When True, use symbols from the Computer Modern')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.jpeg_quality in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 418 ('savefig.jpeg_quality: 95       # when a jpeg is saved, the default quality parameter.')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.frameon in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key keymap.all_axes in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 490 ('keymap.all_axes : a                 # enable all axes')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_path in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 501 ('animation.avconv_path: avconv     # Path to avconv binary. Without full path')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

Bad key animation.avconv_args in file C:\Users\Dan\anaconda3\envs\pyvizenv\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 503 ('animation.avconv_args:            # Additional arguments to pass to avconv')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.5.2/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
# Generate a random integer within the ranges
# lat = x long = y
def rand_lat():
    lat = random.randint(lat_range[0], lat_range[1])
    return lat

def rand_lng():
    lng = random.randint(lng_range[0], lng_range[1])
    return lng

In [3]:
# Define a function to generate a city from the random coordinates, in the format of a list with country code, lat and lng
def rand_city():
    x = rand_lat()
    y = rand_lng()
    city_code = citipy.nearest_city(x, y)
    city = city_code.city_name
    country = city_code.country_code
    output = [city, country, x, y]
    return output

In [4]:
rand_city()

['ushuaia', 'ar', -57, -67]

In [91]:
# Creating an empty dictionary to build the dataframe with
dict = {
    'City': [],
    'Country': [],
    'Latitude': [],
    'Longitude': []
}
# For loop to fill the dictionary with 500 cities
rows = 500
for i in range(rows):
    city_list = rand_city()
    if city_list[0] in dict['City']:
        
        continue
    dict['City'].append(city_list[0])
    dict['Country'].append(city_list[1])
    dict['Latitude'].append(city_list[2])
    dict['Longitude'].append(city_list[3])
# Turning the dictionary into a dataframe
city_df = pd.DataFrame(dict)
city_df.head()

                     City Country  Latitude  Longitude
0                qui nhon      vn        14        109
1               kavaratti      in        11         64
2              isafjordur      is        65        -26
3  happy valley-goose bay      ca        55        -57
4                   mejit      mh        12        178

In [95]:
# Creating an empty dictionary to build the dataframe with
dict = {
    'City': [],
    'Country': [],
    'Latitude': [],
    'Longitude': []
}
# While loop to fill the dictionary with 500 cities
rows = 0
while rows < 500:
    city_list = rand_city()
    if city_list[0] in dict['City']:
        continue
    dict['City'].append(city_list[0])
    dict['Country'].append(city_list[1])
    dict['Latitude'].append(city_list[2])
    dict['Longitude'].append(city_list[3])
    rows += 1
# Turning the dictionary into a dataframe
city_df = pd.DataFrame(dict)
city_df.head()

                 City Country  Latitude  Longitude
0       fuerte olimpo      py       -21        -58
1                lamu      ke        -5         45
2  san pedro pochutla      mx        10        -97
3        longyearbyen      sj        90          3
4   port-aux-francais      tf       -84         76

In [96]:
# Store the dataframe as a local csv
city_df.to_csv('output_data/WeatherAPI_Cities.csv', index=False, mode='w')

In [10]:
w_df = pd.read_csv('output_data/WeatherAPI_Cities.csv')
w_df.head()

                 City Country  Latitude  Longitude
0       fuerte olimpo      py       -21        -58
1                lamu      ke        -5         45
2  san pedro pochutla      mx        10        -97
3        longyearbyen      sj        90          3
4   port-aux-francais      tf       -84         76

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

> **HINT:** The OpenWeatherMap API only allows 60 calls per minute under their free plan. Try using `time.sleep(60)` after each set of 50 cities to avoid API errors due to large calls.

In [22]:
# Save config information
url = "https://api.openweathermap.org/data/2.5/onecall?"
lat = str(w_df['Latitude'])
lon = str(w_df['Longitude'])
# Build query URL
query_url = url + "lat=" + lat + "&lon=" + lon + "&exclude=hourly,daily,minutely,alerts&" + "appid=" + owm

In [21]:
# Get weather data

The weather API responded with: {'lat': -21, 'lon': -58, 'timezone': 'America/Asuncion', 'timezone_offset': -14400, 'current': {'dt': 1692472966, 'sunrise': 1692439935, 'sunset': 1692481168, 'temp': 303.46, 'feels_like': 303.2, 'pressure': 1007, 'humidity': 40, 'dew_point': 288.36, 'uvi': 2.71, 'clouds': 0, 'visibility': 10000, 'wind_speed': 0.63, 'wind_deg': 130, 'wind_gust': 0.52, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}]}}.

In [36]:
# Lists to store API results
temperatures = []
humidities = []
cloudinesses = []
windspeeds = []

# Loop through each row and make API calls
for index, row in w_df.iterrows():
    city = row['City']
    lat = str(row['Latitude'])
    lon = str(row['Longitude'])
    
    query_url = f"https://api.openweathermap.org/data/2.5/onecall?lat={lat}&lon={lon}&exclude=hourly,daily,minutely,alerts&appid={owm}"
    
    # Make API call
    weather_response = requests.get(query_url)
    weather_json = weather_response.json()
    
    temp = weather_json['current']['temp']
    hum = weather_json['current']['humidity']
    cloud = weather_json['current']['clouds']
    wind = weather_json['current']['wind_speed']
    
    # Delay after every 50 calls
    if (index + 1) % 50 == 0:
        time.sleep(60)
    
    # Append results to lists
    temperatures.append(temp)
    humidities.append(hum)
    cloudinesses.append(cloud)
    windspeeds.append(wind)
    
    print(f'City # {(index + 1)} : {city}')

# Add results to dataframe
w_df['Temperature'] = temperatures
w_df['Humidity'] = humidities
w_df['Cloudiness'] = cloudinesses
w_df['Windspeed'] = windspeeds

City # 1 : fuerte olimpo
City # 2 : lamu
City # 3 : san pedro pochutla
City # 4 : longyearbyen
City # 5 : port-aux-francais
City # 6 : chibougamau
City # 7 : port douglas
City # 8 : ilulissat
City # 9 : juan griego
City # 10 : adamstown
City # 11 : vorgashor
City # 12 : qaqortoq
City # 13 : malyye derbety
City # 14 : whitehorse
City # 15 : ushuaia
City # 16 : blackmans bay
City # 17 : sinabang
City # 18 : wajir
City # 19 : saint john
City # 20 : flying fish cove
City # 21 : sevastopol
City # 22 : wailua homesteads
City # 23 : thunder bay
City # 24 : stanley
City # 25 : avarua
City # 26 : boguchany
City # 27 : west island
City # 28 : saipan
City # 29 : ola
City # 30 : grytviken
City # 31 : invercargill
City # 32 : halmstad
City # 33 : vingt cinq
City # 34 : al bawiti
City # 35 : leca da palmeira
City # 36 : waitangi
City # 37 : keflavik
City # 38 : biaora
City # 39 : mhamid
City # 40 : daru
City # 41 : tromso
City # 42 : port augusta
City # 43 : zambezi
City # 44 : port mathurin
City # 45 : vila velha
City # 46 : eastham
City # 47 : ust-nera
City # 48 : qutur
City # 49 : ndende
City # 50 : sandnessjoen
City # 51 : markovo
City # 52 : albany
City # 53 : springs
City # 54 : lyskovo
City # 55 : jamestown
City # 56 : kruisfontein
City # 57 : rasskazovo
City # 58 : bethel
City # 59 : yellowknife
City # 60 : greymouth
City # 61 : hermanus
City # 62 : warrnambool
City # 63 : isafjordur
City # 64 : formosa do rio preto
City # 65 : port elizabeth
City # 66 : alice springs
City # 67 : sitka
City # 68 : huarmey
City # 69 : georgetown
City # 70 : iqaluit
City # 71 : i-n-salah
City # 72 : edinburgh of the seven seas
City # 73 : kramfors
City # 74 : hasaki
City # 75 : hawaiian paradise park
City # 76 : iskateley
City # 77 : hami
City # 78 : altay
City # 79 : padang
City # 80 : st. john's
City # 81 : nurota
City # 82 : belyy yar
City # 83 : granada
City # 84 : talnakh
City # 85 : argostolion
City # 86 : somerset
City # 87 : shingu
City # 88 : bilibino
City # 89 : happy valley-goose bay
City # 90 : hihifo
City # 91 : rongelap
City # 92 : al mijlad
City # 93 : kafin hausa
City # 94 : coahuayana de hidalgo
City # 95 : thompson
City # 96 : puerto natales
City # 97 : vega de alatorre
City # 98 : funafuti
City # 99 : codrington
City # 100 : lihue
City # 101 : vilyuysk
City # 102 : sandpoint
City # 103 : olonkinbyen
City # 104 : kolarovo
City # 105 : antsohihy
City # 106 : carnarvon
City # 107 : fort st. john
City # 108 : kosh-agach
City # 109 : fisterra
City # 110 : anadyr
City # 111 : kizhinga
City # 112 : korla
City # 113 : leticia
City # 114 : hammerfest
City # 115 : viligili
City # 116 : mitsamiouli
City # 117 : ribeira brava
City # 118 : berwick-upon-tweed
City # 119 : itamaraca
City # 120 : college
City # 121 : cabo san lucas
City # 122 : derzhavinsk
City # 123 : tiksi
City # 124 : badger
City # 125 : verkhnevilyuysk
City # 126 : bredasdorp
City # 127 : uturoa
City # 128 : suwayr
City # 129 : aykhal
City # 130 : alofi
City # 131 : al ghayzah
City # 132 : kiunga
City # 133 : maintirano
City # 134 : nemuro
City # 135 : hope mills
City # 136 : mildura
City # 137 : harstad
City # 138 : saldanha
City # 139 : east london
City # 140 : lisala
City # 141 : wakkanai
City # 142 : adria
City # 143 : brisas de zicatela
City # 144 : sarmiento
City # 145 : puerto san carlos
City # 146 : vohipaho
City # 147 : puerto ayora
City # 148 : utrik
City # 149 : labasa
City # 150 : murzuq
City # 151 : khandyga
City # 152 : eynesil
City # 153 : sirte
City # 154 : sidi akkacha
City # 155 : san antonio de pale
City # 156 : al burayqah
City # 157 : galle
City # 158 : nkongsamba
City # 159 : nova sintra
City # 160 : tabou
City # 161 : waingapu
City # 162 : datong
City # 163 : long beach
City # 164 : muravlenko
City # 165 : governor's harbour
City # 166 : ba
City # 167 : ulsteinvik
City # 168 : fiche
City # 169 : salinas
City # 170 : t'ongch'on-up
City # 171 : tamale
City # 172 : siquijor
City # 173 : sisimiut
City # 174 : ambodifotatra
City # 175 : puerto deseado
City # 176 : kokpekty
City # 177 : faro
City # 178 : ribeira grande
City # 179 : margaret river
City # 180 : nouadhibou
City # 181 : fale old settlement
City # 182 : yuzhno-kurilsk
City # 183 : broome
City # 184 : pontianak
City # 185 : namibe
City # 186 : lebu
City # 187 : bonthe
City # 188 : valle de la pascua
City # 189 : castanheira do ribatejo
City # 190 : souillac
City # 191 : villa gesell
City # 192 : hamilton
City # 193 : ancud
City # 194 : papatowai
City # 195 : mahina
City # 196 : jamaame
City # 197 : susuman
City # 198 : bichura
City # 199 : chonchi
City # 200 : duminichi
City # 201 : revelstoke
City # 202 : yarmouth
City # 203 : klyuchi
City # 204 : sanniquellie
City # 205 : petropavlovsk-kamchatsky
City # 206 : toliara
City # 207 : polyarnyy
City # 208 : culiacan
City # 209 : vadso
City # 210 : as suwayq
City # 211 : dudinka
City # 212 : taiohae
City # 213 : kariya
City # 214 : nabire
City # 215 : praia da vitoria
City # 216 : weno
City # 217 : mbanza kongo
City # 218 : pathein
City # 219 : ayaguz
City # 220 : lompoc
City # 221 : fonte boa
City # 222 : mont-dore
City # 223 : trinidad
City # 224 : ruidoso
City # 225 : hobyo
City # 226 : luderitz
City # 227 : luwuk
City # 228 : acarau
City # 229 : pullambadi
City # 230 : tomatlan
City # 231 : flin flon
City # 232 : sao jose da coroa grande
City # 233 : kodiak
City # 234 : igarka
City # 235 : udachny
City # 236 : lethem
City # 237 : noosa heads
City # 238 : holice
City # 239 : siwa oasis
City # 240 : qarauyl
City # 241 : kisanga
City # 242 : thinadhoo
City # 243 : kavaratti
City # 244 : vila franca do campo
City # 245 : la sarre
City # 246 : mushie
City # 247 : sept-iles
City # 248 : el obeid
City # 249 : muzayri'
City # 250 : shelekhov
City # 251 : balqash
City # 252 : tura
City # 253 : blagoveshchensk
City # 254 : callao
City # 255 : rindge
City # 256 : almeirim
City # 257 : andergrove
City # 258 : plouzane
City # 259 : enewetak
City # 260 : new norfolk
City # 261 : ciudad lazaro cardenas
City # 262 : constantia
City # 263 : holualoa
City # 264 : holbrook
City # 265 : sao marcos
City # 266 : selfoss
City # 267 : kasane
City # 268 : iquitos
City # 269 : port saint john's
City # 270 : new plymouth
City # 271 : lukhovitsy
City # 272 : magadan
City # 273 : tual
City # 274 : brookings
City # 275 : gamba
City # 276 : atafu village
City # 277 : meizhou
City # 278 : corner brook
City # 279 : kingston
City # 280 : mitu
City # 281 : pompeia
City # 282 : arafat
City # 283 : yefremov
City # 284 : punta del este
City # 285 : sidi okba
City # 286 : queenstown
City # 287 : singarayakonda
City # 288 : haiku-pauwela
City # 289 : rockland
City # 290 : puerto san jose
City # 291 : taoudenni
City # 292 : filadelfia
City # 293 : ponta delgada
City # 294 : san juan
City # 295 : vernon
City # 296 : ganshui
City # 297 : oban
City # 298 : olean
City # 299 : maceio
City # 300 : mar del plata
City # 301 : petrovsk
City # 302 : arenapolis
City # 303 : muisne
City # 304 : tolanaro
City # 305 : yichang
City # 306 : kabinda
City # 307 : kiama
City # 308 : arkalyk
City # 309 : waddan
City # 310 : antofagasta
City # 311 : tazovsky
City # 312 : casper
City # 313 : buenavista
City # 314 : papao
City # 315 : mil'kovo
City # 316 : kidal
City # 317 : esikhaleni
City # 318 : turbat
City # 319 : port-vila
City # 320 : nema
City # 321 : pavlodar
City # 322 : huaibei
City # 323 : yoichi
City # 324 : chifeng
City # 325 : koungheul
City # 326 : kopychyntsi
City # 327 : fada
City # 328 : la'ie
City # 329 : pisco
City # 330 : acapulco de juarez
City # 331 : santa elena de uairen
City # 332 : mili
City # 333 : ust'-ilimsk
City # 334 : masterton
City # 335 : aasiaat
City # 336 : reggane
City # 337 : dalandzadgad
City # 338 : natal
City # 339 : portland
City # 340 : tranovaho
City # 341 : afaahiti
City # 342 : joshimath
City # 343 : athni
City # 344 : sassenberg
City # 345 : kalanwali
City # 346 : laguna
City # 347 : oranjemund
City # 348 : tieli
City # 349 : igrim
City # 350 : puerto penasco
City # 351 : geraldton
City # 352 : karamay
City # 353 : el calafate
City # 354 : t'aebaek
City # 355 : nantucket
City # 356 : kuusamo
City # 357 : maughold
City # 358 : ban talat bueng
City # 359 : fuling
City # 360 : benguela
City # 361 : esil
City # 362 : niteroi
City # 363 : mata-utu
City # 364 : pacific grove
City # 365 : aral
City # 366 : kapuskasing
City # 367 : zvenigovo
City # 368 : kroya
City # 369 : castillos
City # 370 : sabinas
City # 371 : yelizovo
City # 372 : singaraja
City # 373 : saint-pierre
City # 374 : arraial do cabo
City # 375 : kavieng
City # 376 : debre werk'
City # 377 : luanda
City # 378 : klaksvik
City # 379 : lazaro cardenas
City # 380 : arrifes
City # 381 : yeniseysk
City # 382 : port macquarie
City # 383 : ta`u
City # 384 : ghanzi
City # 385 : zhezqazghan
City # 386 : road town
City # 387 : howrah
City # 388 : sant lluis
City # 389 : tazacorte
City # 390 : taulaga
City # 391 : bani walid
City # 392 : saint-francois
City # 393 : port moresby
City # 394 : punta arenas
City # 395 : nadi
City # 396 : bayan nur
City # 397 : kralendijk
City # 398 : qandala
City # 399 : vorkuta
City # 400 : sierra grande
City # 401 : sinazongwe
City # 402 : dunedin
City # 403 : santo antonio
City # 404 : keelung
City # 405 : nar'yan-mar
City # 406 : akureyri
City # 407 : midelt
City # 408 : progreso
City # 409 : port alfred
City # 410 : inekar
City # 411 : espinosa
City # 412 : banjar
City # 413 : solnechnyy
City # 414 : brokopondo
City # 415 : mana
City # 416 : noshiro
City # 417 : kenora
City # 418 : paracuru
City # 419 : cockburn town
City # 420 : tasbuget
City # 421 : bhattarai danda
City # 422 : barka'
City # 423 : medina
City # 424 : aioun
City # 425 : eilat
City # 426 : mutoko
City # 427 : key west
City # 428 : walvis bay
City # 429 : merritt island
City # 430 : tsuyama
City # 431 : berezovyy
City # 432 : richards bay
City # 433 : tutoia
City # 434 : bumba
City # 435 : san-pedro
City # 436 : port nelson
City # 437 : phillip island
City # 438 : karratha
City # 439 : fortaleza
City # 440 : fuglafjordur
City # 441 : paciran
City # 442 : maumere
City # 443 : lorengau
City # 444 : barcelos
City # 445 : svetlyy
City # 446 : tuzha
City # 447 : golyshmanovo
City # 448 : vilyuchinsk
City # 449 : manikpur
City # 450 : pak phanang
City # 451 : mount pearl
City # 452 : kapa'a
City # 453 : talakan
City # 454 : la passe
City # 455 : green river
City # 456 : cavalaire-sur-mer
City # 457 : spasskoye
City # 458 : mukah
City # 459 : malabar
City # 460 : rozhyshche
City # 461 : mandalgovi
City # 462 : faya-largeau
City # 463 : chilliwack
City # 464 : namtsy
City # 465 : sao felix do xingu
City # 466 : lexington
City # 467 : rio gallegos
City # 468 : bhag
City # 469 : ubari
City # 470 : ishikawa
City # 471 : coyhaique
City # 472 : molde
City # 473 : brigantine
City # 474 : kosciuszko national park
City # 475 : bejaia
City # 476 : ad douiem
City # 477 : waterloo
City # 478 : hithadhoo
City # 479 : abilene
City # 480 : awjilah
City # 481 : xunchang
City # 482 : meulaboh
City # 483 : kwali
City # 484 : tobi village
City # 485 : bikenibeu village
City # 486 : belem de sao francisco
City # 487 : namsos
City # 488 : tobruk
City # 489 : cargados carajos
City # 490 : buala
City # 491 : bikin
City # 492 : sonsorol village
City # 493 : san patricio
City # 494 : gueret
City # 495 : nago
City # 496 : bel ombre
City # 497 : gobabis
City # 498 : jaicos
City # 499 : son la
City # 500 : gonzaga

In [37]:
w_df.tail()

,City,Country,Latitude,Longitude,Temperature,Humidity,Cloudiness,Windspeed
495,bel ombre,sc,-4,54,299.02,88,54,6.97
496,gobabis,na,-21,19,296.87,13,0,3.18
497,jaicos,br,-7,-41,307.82,32,63,4.92
498,son la,vn,21,104,292.66,99,100,0.22
499,gonzaga,ph,18,122,296.12,98,68,0.21

In [ ]:
from pprint import pprint

url = 
json = response.json()
pprint(json)